[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
streamlit = "*"
beautifulsoup4 = "*"
transformers = "*"
sentencepiece = "*"
tqdm = "*"
torch = "*"
datasette = "*"
urllib3 = "*"
datasette-publish-vercel = "*"
csvs-to-sqlite = "*"
opportunities-database = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
